{
  "plugins": [
    ["module-resolver", { "root": ["./src"] }],
    ["babel-plugin-inline-import", { "extensions": [".md"] }],
    ["babel-plugin-styled-components", { "ssr": true }]
  ],
  "presets": [
    "flow",
    "env",
    "react",
    "stage-0"
  ]
}
