:root {
  --alternateTextColor: white;
  --primary: #424242;
  --primaryDark: #1b1b1b;
  --primaryLight: #6d6d6d;
  --secondary: #bdbdbd;
  --secondaryDark: #8d8d8d;
  --secondaryLight: #efefef;
  --textColor: black;
}
