<link rel="icon" type="image/png" href="./images/icons/icon-48.png" />
<link rel="apple-touch-icon" sizes="48x48" href="./images/icons/icon-48.png" />
<link rel="apple-touch-icon" sizes="72x72" href="./images/icons/icon-72.png" />
<link rel="apple-touch-icon" sizes="96x96" href="./images/icons/icon-96.png" />
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="./images/icons/icon-144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="192x192"
  href="./images/icons/icon-192.png"
/>
<link
  rel="apple-touch-icon"
  sizes="256x256"
  href="./images/icons/icon-256.png"
/>
<link
  rel="apple-touch-icon"
  sizes="384x384"
  href="./images/icons/icon-384.png"
/>
<link
  rel="apple-touch-icon"
  sizes="512x512"
  href="./images/icons/icon-512.png"
/>
